
<link rel="stylesheet" href="/stylesheets/home.css">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 16 16">
    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
    <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
  </svg>
<i class="bi bi-camera-reels"></i>


    

<header>
    <div class="container">
      <nav>
      <ul class="nav-container">
          
          <li class="nav-item has-subnav">
            <a href="#">INFO</a>
                <div class="subnav">
                  <ul>
                   <li>watchlist</li>
                   <li>comment</li>
                   <li>ratings</li>
                   <li>movieselection</li>
                  </ul>
                </div>
          </li>
        
        </ul>
      </nav>
    </div>
    </header>
    
    <div class="accordion">
      <ul>
        <li>
          <div class="image_title">
            <a href="#">Transformers: The Last Knight</a>
          </div>
          <a href="https://ibb.co/gGv6QS"><img src="https://image.ibb.co/k7P0kS/transformers4_640x320.jpg" alt="transformers4_640x320" border="0"></a>
        </li>
        <li>
          <div class="image_title">
            <a href="#">Blade Runner 2049</a>
          </div>
          <a href="https://ibb.co/cXjfKn"><img src="https://image.ibb.co/ct9rQS/Blade_Runner2049_640x320.jpg" alt="Blade_Runner2049_640x320" border="0"></a>
        </li>
        <li>
          <div class="image_title">
            <a href="#">Guardians of the Galaxy: Vol. 2</a>
          </div>
          <a href="https://ibb.co/b4nLkS"><img src="https://image.ibb.co/jAu0kS/GOG2_640x320.jpg" alt="GOG2_640x320" border="0"></a>
        </li>
        <li>
          <div class="image_title">
            <a href="#">Spiderman: Homecoming</a>
          </div>
          <a href="https://ibb.co/mC5Uen"><img src="https://image.ibb.co/da7xX7/spiderman_homecoming_640x320.jpg" alt="spiderman_homecoming_640x320" border="0"></a>
        </li>
        <li>
          <div class="image_title">
            <a href="#">Wonder Woman</a>
          </div>
          <a href="https://ibb.co/enV1s7"><img src="https://image.ibb.co/dHdAkS/Wonder_Woman_640x320.jpg" alt="Wonder_Woman_640x320" border="0"></a>
        </li>
      </ul>
    </div>
    <div class="maintitle">
        <div class="Title">
            <h1>MovieZ
                <div class="Title__highlight"></div>
            </h1>
            <div class="Title__underline"></div>
            <div area-hidden class="Title__filled">Moviez</div>
        </div>
    </div>
        
        
    <div display="incline-block">
        <div class="example">
            <button>
                <span><a href="/login">login</a></span>
            </button>
        </div>
        <div class="example">
            <button>
                <span><a href="/signup">signup</a></span>
            </button>
        </div>
        <div class="example">
            <button>
                <span><a href="/about">about</a></span>
            </button>
        </div>
        <div class="example">
            <button>
                <span><a href="/movies">guest</a></span>
            </button>
        </div>
    </div>
        
    </div>