<%layout("./layouts/boilerplate")%>
<div class="mt-5">
    <h1>admin signin page</h1>
<form action="/<%=user._id%>/adminlogin" method="POST">
    <div class="mb-3">
        <label for="username"class=form-label>username:</label>
        <input type="text" class="form-control" name="username"placeholder="username"id="username">
    </div>
    <div class="mb-3">
        <label for="email"class=form-label>email:</label>
        <input type="text" class="form-control" name="email"placeholder="email"id="email">
    </div>
    
    <div c;ass="mb-3">
        <label for="password"class="form-label">password:</label>
        <input type="password" class="form-control"name="password"placeholder="password"id="password">
    </div>
    <br>
    <button>login</button>
    
    <br><a href="/<%=user._id%>/movies">home</a>
</form>

</div>
    