<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add review</title>
</head>
<body>
    <h1>add new review</h1>
    <form action="/movies/<%=movie.id%>" method="POST">
        <label for="review">add review:</label>
        <textarea name="review" rows="5" cols="60" id="review"></textarea>
        <button>submit</button>
    </form>
</body>
</html>